:root {
  font-family: Inter, ui-sans-serif, system-ui, sans-serif;
  color: #fafaf9;
  background: #0c0a09;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  min-height: 100svh;
  display: flex;
}

body {
  margin: 0;
}

h1 {
  margin: 0;
  max-width: 660px;
  font-size: clamp(3rem, 10vw, 6rem);
  line-height: 0.95;
  letter-spacing: -0.06em;
}

h2 {
  margin: 0;
  font-size: 1rem;
}
